{% extends 'stock/base.html' %}

{% block title %}Modificar medicamentos{% endblock %}
{% block content %}
<h1>Modificar medicamento</h1>
<form action="modificar-medicamentos" method="POST"> {% csrf_token %}
  <div class="form-group mb-3">
    <input type="number" class="form-control" name="numCodigo" id="numCodigo" value="{{medicamento.codigo}}" readonly/>
  </div>
  <div class="form-group mb-3">
    <label for="txtDescripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" name="txtDescripcion" id="txtDescripcion" value="{{medicamento.descripcion}}" />
  </div>
  <div class="form-group mb-3">
    <label for="txtFabricante" class="form-label">Fabricante</label>
    <input type="text" class="form-control" name="txtFabricante" id="txtFabricante" value="{{medicamento.fabricante}}" />
  </div>
  <div class="form-group mb-3">
    <label for="txtContenido" class="form-label">Contenido</label>
    <input type="number" class="form-control" name="numContenido" id="numContenido" value="{{medicamento.contenido}}" />
  </div>
  <div class="form-group mb-3">
    <label for="txtGramaje" class="form-label">Gramaje</label>
    <input type="number" class="form-control" name="numGramaje" id="numGramaje" value="{{medicamento.gramaje}}" />
  </div>
  <div class="form-group mb-3">
    <label for="txtPrecio" class="form-label">Precio</label>
    <input type="number" class="form-control" name="numPrecio" id="numPrecio" value="{{medicamento.precio}}" />
  </div>
  <div class="form-group mb-3">
    <label for="txtCantidad" class="form-label">Cantidad</label>
    <input type="number" class="form-control" name="numCantidad" id="numCantidad" value="{{medicamento.cantidad}}" />
  </div>
  <div class="form-group mb-3">
    <button type="submit" class="btn btn-success">Modificar</button>
    <a href="{% url 'inventario' %}" class="btn btn-outline-danger">Cancelar</a>
  </div>
</form>
{% endblock %}