{% extends 'stock/base.html' %}

{% block title %}Stock medicamentos{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Consulta de Medicamentos</h1>
  </div>
  <div class="col">
    <a href="{% url 'agregar-medicamentos' %}" class="btn btn-success btn-sm"> + Agregar Medicamento</a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fabricante</th>
      <th scope="col">Contenido</th>
      <th scope="col">Gramaje</th>
      <th scope="col">Precio</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for m in medicamento %}
    <tr>
      <th>{{m.codigo}}</th>
      <td>{{m.descripcion}}</td>
      <td>{{m.fabricante}}</td>
      <td>{{m.contenido}} comp</td>
      <td>{{m.gramaje}} gm</td>
      <td>${{m.precio}}</td>
      <td>{{m.cantidad}}</td>
      <td><a href="modificar-medicamentos/{{m.codigo}}" class="btn btn-outline-primary">!</a></td>
      <td><a href="eliminarMedicamentos/{{m.codigo}}" class="btn btn-outline-danger">X</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}