{% extends 'farmacia/base.html' %}

{% block title %}Entrega Medicamentos{% endblock %}
{% block content %}
<h1>Entrega de Medicamentos (Pagar)</h1>
<form action="recepcion-entrega" method="POST">{% csrf_token %}
  <div class="form-group mb-3">
    <label for="txtPago" class="form-label">Medicamento</label>
    <input type="text" class="form-control" name="" id="txtPago" value="{{prescripcion.medicamento}}" readonly/>
  </div>
  <div class="form-group mb-3">
    <label for="txtPago" class="form-label">Paciente</label>
    <input type="text" class="form-control" name="" id="txtPago" value="{{prescripcion.paciente}}" readonly/>
  </div>
  <div class="form-group mb-3">
    <label for="txtPago" class="form-label">Correo de paciente</label>
    <input type="text" class="form-control" name="" id="txtPago" value="{{prescripcion.correo}}" readonly/>
  </div>
  <div class="form-group mb-3">
    <label for="txtPago" class="form-label">Numero telefonico de paciente</label>
    <input type="text" class="form-control" name="" id="txtPago" value="{{prescripcion.telefono}}" readonly/>
  </div>
  <button type="submit" class="btn btn-success">Continuar...</button>
  <a href="{% url 'recepcion-farmacia' %}" class="btn btn-outline-danger">Cancelar</a>
</form>
{% endblock %}