<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    {% load static %}
    <link href="{% static '/css/login.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <title>Login</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="contenedor-logo">
                <img class="logo" src="{% static '/img/cesfam_logo.png' %}" width="106" height="59" />
            </div>

        </div>
    </header>
    <main>
        {% block content %}
        <div class="wrapper">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="card m-5 p-5 col-md-9 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="card-title text-center fs-3 panel-heading pb-3">Iniciar Sesion</div>
                        <div class="panel-body">
                            {% if error_message %}
                            <p class="text-white bg-danger p-3 mb-2">
                                {{ error_message }}
                            </p>
                            {% endif %}
                            <div class="form-group clearfix">
                                <label for="username" class="col control-label text-right fw-light" style="font-size: 16px;">Username:</label>
                                <div class="col">
                                    <input name="username" value="" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group clearfix pt-2">
                                <label for="password" class="col-md-4 control-label text-right fw-light" style="font-size: 16px;" >Password:</label>
                                <div class="col">
                                    <input name="password" type="password" class="form-control" />
                                </div>
                            </div>
                            <div class="align-content-center pt-4">
                                <input name="login" type="submit" value="Login" class="btn btn-success btn-sm" style="width: 5em;"/>
                                &nbsp;
                                <a class="pt-2 text-center btn btn-outline-primary btn-sm" style="width: 7em;" href="{% url 'register' %}">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endblock %}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>