{% extends 'medico/base.html' %}

{% block title %}Medicamentos{% endblock %}
{% block content %}
<h1>Consulta de Medicamentos</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Descripción</th>
      <th scope="col">Fabricante</th>
      <th scope="col">Contenido</th>
      <th scope="col">Gramaje</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    {% for m in response %}
    <tr>
      <th>{{m.codigo}}</th>
      <td>{{m.descripcion}}</td>
      <td>{{m.fabricante}}</td>
      <td>{{m.contenido}} comprimidos</td>
      <td>{{m.gramaje}} gm</td>
      <td>{{m.cantidad}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
