{% extends 'medico/base.html' %}

{% block title %}Generar Prescripciones{% endblock %}
{% block content %}
<h1>Generar prescripcion medica</h1>
<form action="generar-prescripciones" method="POST">{% csrf_token %}
  <div class="mb-3"> 
    <label for="txtMedico" class="form-label">Nombre Medico</label>
    <select for="txtMedico" name="txtMedico" class="form-select">
      {% for p in response %}
      {% if p.medico != None %}
      <option class="form-control" id="txtMedico">{{p.medico}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="txtPaciente" class="form-label">Nombre Paciente</label>
    <input type="text" class="form-control" name="txtPaciente" id="txtPaciente" />
  </div>
  <div class="mb-3">
    <label for="txtCorreo" class="form-label">Correo electronico</label>
    <input type="email" class="form-control" name="txtCorreo" id="txtCorreo" />
  </div>
  <div class="mb-3">
    <label for="numTelefono" class="form-label">Numero telefonico</label>
    <input type="number" class="form-control" name="numTelefono" id="numTelefono" />
  </div>
  <div class="listaMedicamentos">
    <div class="row">
      <div class="col">
        <div class="mb-3"> 
          <label for="txtMedicamento" class="form-label">Medicamento</label>
          <select class="form-select" name="txtMedicamento">
            {% for p in response %}
            {% if p.descripcion != None %}
            <option class="form-control" id="txtMedicamento">{{p.descripcion}}</option>
            {% endif %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="numCantidad" class="form-label">Cantidad</label>
          <input type="number" class="form-control" name="numCantidad" id="numCantidad" />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="numFrecuencia" class="form-label">Frecuencia de horas</label>
          <input type="number" class="form-control" name="numFrecuencia" id="numFrecuencia" />
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="numDias" class="form-label">Dias de consumo</label>
          <input type="number" class="form-control" name="numDias" id="numDias" />
        </div>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="fechaEntrega" class="form-label">Fecha de entrega</label>
    <input type="date" class="form-control" name="fechaEntrega" id="fechaEntrega" />
  </div>
  <div class="mb-3">
    <label for="fechaExp" class="form-label">Fecha de Expiración</label>
    <input type="date" class="form-control" name="fechaExp" id="fechaExp" />
  </div>
  <button type="submit" class="btn btn-success">Crear Prescripción</button>
  <a href="{% url 'prescripciones' %}" class="btn btn-outline-danger">Cancelar</a>
</form>
{% endblock %}