{% extends 'medico/base.html' %}

{% block title %}Prescripciones{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Prescripciones Medicas</h1>
  </div>
  <div class="col">
    <a href="{% url 'generar-presecipciones' %}" class="btn btn-success btn-sm"> + Generar Prescripción</a>
  </div>
</div>
<div class="contenedor-prescripciones">
  {% for p in response %}
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Medico: {{p.medico}}</h1>
      <h1 class="card-title">Paciente: {{p.paciente}}</h1>
      <div class="m-3"></div>
      <h4 class="card-title text-center p-2">Receta</h4>
      <p class="card-text">{{p.medicamento}}: {{p.comprimidos}} comprimido cada {{p.frecuencia_hrs}}hrs x {{p.dias_tratamiento}} dias</p>
    </div>
    <div class="row m-3">
      <div class="col">
        <p class="card-text text-start">Fecha: {{p.fecha_entrega}}</p>
      </div>
      <div class="col">
        <p class="card-text text-end">Ex: {{p.fecha_expira}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}